<div class="w-full bg-primary-base h-full">
  <div class="w-295 items-center mx-auto py-10 bg-primary-base">
    <div class="flex rounded-30 bg-gray-card overflow-hidden">
      <div class="flex flex-row justify-start">
        <ul class="w-75">
          <li class="flex w-65 bg-gray-white justify-left items-center cursor-pointer h-24 pl-5 text-h3-subheading border-b-2 border-gray-card last:border-none"
              *ngFor="let tab of tabsArray"
              (click)="selectItem(tab)"
              [ngClass]="{ 'bg-gray-card text-accent-base': tab.active }"
          >{{tab.title}}</li>
        </ul>
        <div class="w-full">
          <app-tab [tabData]="this.activeTab"></app-tab>
        </div>
      </div>
    </div>
  </div>
</div>
